/* Google Translate Fixes */
.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-icon {
  display: none !important;
}

.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0px !important; /* Prevents page shifting */
}
